*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
app/libs/
app/src/main/res/drawable/
retrofitretryhelper/libs/
retrofitretryhelper/src/main/res/drawable/
/retrofitretryhelper/maven-push.gradle
/gradle.properties
private_key_sender.asc
public_key_sender.asc
gradle.properties
local.properties
public_key_sender.asc
private_key_sender.asc
